body {
  background-color: white !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.page-wrapper {
  padding: 7% 2%;
}

.cart-wrapper {
  padding: 7% 6%;
}

.cart-product-wrapper {
  padding-top: 16px;
}

.cart-price-wrapper {
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  border-top: solid 1px #e5e5e5;
  text-align: center;
  background-color: white;
}

.product-name {
  overflow: hidden; /* make sure it hides the content that overflows */
  white-space: nowrap; /* don't break the line */
  text-overflow: ellipsis; /* give the beautiful '...' effect */
}

.product-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.responsive-img {
  height: auto;
  width: 100%;
}

.form-center {
  text-align: center;
}

.success-alert {
  color: rgb(4, 112, 4);
}

.cart-btn-wrapper {
  padding-bottom: 10px;
}

.cart-btn {
  border: solid 1px #cccccc;
  height: 25px;
  width: 25px;
  text-align: center;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.cart-btn-disabled {
  cursor: default;
  border: solid 1px #cccccc;
  color: rgb(207, 207, 207);
  height: 25px;
  width: 25px;
  text-align: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.cart-btn:active {
  border-color: rgb(158, 158, 158);
}

.quantity-btn {
  border-top: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
  height: 25px;
  width: 40px;
  text-align: center;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.delete-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.inline {
  display: inline-block;
}
