body {
  background-color: white !important;
}

a {
  color: inherit;
  text-decoration: none;
}

.home-wrapper {
  height: 100vh;
  background-image: url('https://static.zara.net/photos///2020/V/0/2/p/4312/226/300/72/w/1923/4312226300_2_4_1.jpg?ts=1583330341171');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.home-btn {
  width: 150px;
  border: 3px solid black;
  font-weight: 800;
  width: 100%;
}

.home-left-btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 1%;
  cursor: pointer;
}

.arrow-svg {
  margin: 10px;
}

.home-right-btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 1%;
}

.home-text-component {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-wrapper {
  padding: 7% 2%;
}

.cart-wrapper {
  padding: 7% 6%;
}

.cart-product-wrapper {
  padding-top: 16px;
}

.cart-price-wrapper {
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  border-top: solid 1px #e5e5e5;
  text-align: center;
  background-color: white;
}

.drawer-wrapper {
  padding: 25% 10%;
  width: 315px;
  box-shadow: none;
}

.category-header-wrapper {
  padding-bottom: 20px;
  text-align: center;
}

.store-img {
  width: 70%;
  padding-bottom: 30px;
}

.google-login-btn {
  background: transparent !important;
  box-shadow: none !important;
}

.google-login-btn div {
  margin-right: 0 !important;
  background: transparent !important;
}

.product-name {
  overflow: hidden; /* make sure it hides the content that overflows */
  white-space: nowrap; /* don't break the line */
  text-overflow: ellipsis; /* give the beautiful '...' effect */
}

.product-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

.responsive-img {
  height: auto;
  width: 100%;
}

.form-center {
  text-align: center;
}

.success-alert {
  color: rgb(4, 112, 4);
}

.cart-btn-wrapper {
  padding-bottom: 10px;
}

.cart-btn {
  border: solid 1px #cccccc;
  height: 25px;
  width: 25px;
  text-align: center;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.cart-btn-disabled {
  cursor: default;
  border: solid 1px #cccccc;
  color: rgb(207, 207, 207);
  height: 25px;
  width: 25px;
  text-align: center;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.cart-btn:active {
  border-color: rgb(158, 158, 158);
}

.quantity-btn {
  border-top: solid 1px #cccccc;
  border-bottom: solid 1px #cccccc;
  height: 25px;
  width: 40px;
  text-align: center;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.delete-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.inline {
  display: inline-block;
}

.cursor-pointer {
  cursor: pointer;
}
